<nav class=" parent btn-group btn-group-vertical">
  <button ngbTooltip="刷新" (click)="refresh.emit()" class="btn btn-outline-info">
    <i [class.fa-spin]="loading" class="fa fa-refresh"></i>
  </button>
  <button (click)="go('pre')" class="btn btn-outline-info">
    <i class="fa fa-arrow-circle-up"></i>
  </button>

    <span (click)="select.emit(i)" [class.active]="i==_now" class="btn btn-outline-info" *ngFor="let i of btnArr">
      {{i}}
    </span>

  <button (click)="go('next')" class="btn btn-outline-info">
    <i class="fa fa-arrow-circle-down"></i>
  </button>
  <div *ngIf="loading" class="cover full abs"></div>
</nav>
