
@mixin transition(){
  transition:all .3s ease;
}
.bg-1{
  background:$bgColor-secondary;
}
.bg-2{
  background:$extendColor;
}
.bg-0{
  background:rgba(255,255,255,.9);
}

.color-dark{
  color:black;
}
.shadow-1{
  box-shadow:$shd1 !important;
}
.an_node{
  transition:all 0.3s ease;
}
.borderR{
  border-radius:$borderRadius;
}
.box-1{
  @extend .bg-1;
  @extend .borderR;
}
.frame{
  border:1px solid $color;
}
.card-2{
  @extend .borderR;
  background:$bgColor;
  @extend .frame;
}

.sign{
  border-radius:$borderRadius;
  padding:5px;
  &>i{
    margin:0 6px;
  }
  box-shadow:1px 2px 3px rgba($shadowColor,.5);
  border-bottom:1px solid $shadowColor;
}
em{color:$deepColor}
.btn:hover{
  cursor:pointer;
}

.card-1{
  @extend .box-1;
  @extend .frame;
  padding:5px;
};
.card-3{
  @extend .card-1;
  border:$border1;
  box-shadow:$shd2;
}
.img1{
  box-shadow:$shd2;
  border:$border1;
}
.btn-default:hover{
  background:$lightColor;
}
.rgBtn{
  background:rgba(0,0,0,0.3);
  transition:background ease 0.3s;
}
.rgBtn-icon{
  transition:all ease 0.3s;
}
.rgBtn:hover>.rgBtn-icon,.roBtn:hover .rgBtn-icon{
  transform:rotate(180deg);
}
@keyframes Bright{
  from{color:$deepColor}
  to{color:$lightColor}
}
.bright{
  animation:Bright 0.6s ease 0s infinite alternate;
}
.dropdown0{
  box-shadow:$shd2;
  @include transition();
  &:hover{
    box-shadow:none;
  }
}
kbd{
  background:$deepColor;
  box-shadow:1px 1px 3px $color;
  margin:0 5px;
}
@media only screen and(min-width:$lg){
  .lgBox{
    margin:10px 0;
    padding:10px 0;
    border-radius:.5rem;
    background:$bgColor-secondary;
  }
}
@keyframes slideY{
  from {transform:translateY(-50%)}
  to{transform:translateY(0)}
}
.SlideY{
  animation:slideY 0.5s ease;
}

.tab-nav{
  box-sizing:border-box;
  border-bottom:1px solid $shadowColor;
}
.tab-btn{
  cursor:pointer;
  outline:none;
  display:inline-block;
  background:$tab-btn-color;
  transition:all 0.3s ease;
  padding:$smBtnPadding;
  border:1px solid $color;
  //border-bottom-color:transparent;
  transform:translateY(1px);
  border-radius:$borderRadius $borderRadius 0 0;
  &.active{
    background:$tab-active-color;
    border-bottom-color:$tab-active-color;
  }
}

.tab-bg{
  background:$tab-color;
  padding:5px 0;
  border-top-width:0;
}
.ztwBlock{
  @extend .shadow-1;
  background:$bgColor;
}
%abs0{
  position:absolute;
}
.ft{
  @extend %abs0;
  bottom:1rem;
  right:1rem;
}
.ir{
  @extend %abs0;
  right:10px;
  bottom:10px;
  opacity:0.6;
}
.close0{
  @extend %abs0;
  top:$space;
  right:$space;
}
.br{
  @extend %abs0;
  bottom:$space;
  left:$space;
}
.tr{
  @extend %abs0;
  top:0;
  right:0;
}
.fr{
  @extend %abs0;
  bottom:0;
  right:0;
}
.closeBtn{
  color:white;
  text-shadow:0 0 4px black;
  &:hover{
    cursor:pointer;
    transform:scale(1.2,1.2);
  }
  &:active{
    transform:scale(0.8,0.8);
  }
}
%active0{
  box-shadow:0 0 2px gray;
  background:$deepColor;
  color:$bgColor;
}
.btn0{
  display:inline-block;
  box-sizing:border-box;
  outline:none;
  padding:10px;
  background:transparent;
  transition:all 0.3s;
  @extend .box-1;
  &[disabled]{
    color:$color;
    box-shadow:none;
  }
  &:hover{
    background:$lightColor;
    cursor: pointer;
  }
}
.btn0[disabled]:hover{
  box-shadow:none;
  background:transparent;
  cursor:not-allowed;
}
.btn1{
  background:$lightColor;
  &:hover{
    color:white;
    background:$deepColor2;
  }
}

.listItem{
  transition:all 0.3s;
  &:hover{
    background:$bgColor-secondary;
    box-shadow:$shd2;
    z-index:1;
  }
}

.btn-group2{
  .btn0{float:left;}
  &:after{
    content:'';
    clear:both;
    display:table;
  }
}
.rgBtn:hover{
  cursor:pointer;
  color:$bgColor;
  background:rgba(0,0,0,0.8)
}


.btn-min{
  padding:3px;
}

$remindColor2:transparentize($shadowColor,0.5);
.remindBg{
  background:$remindColor2;
}


