
$titleNav-height:50px;
$titleNav-radius:10px;
$titleNav-space:5px;
@mixin NavShd{
  box-shadow:0 1px 3px rgba(black,.3);
}
.titleNav{
  height:$titleNav-height;
  display:block;
  border-radius:$titleNav-radius;
  & .item:first-child{
    white-space:nowrap;
  }
}
.navHid{
  transform:translateY(-100%);
}
.navLower{
  z-index:1;
  opacity:.5;
}
.titleNav-header{
  font-size:1.2rem;
}
.navShd{
  @include NavShd()
}
.title-fix{
  position:fixed;
  z-index:7;
  left:0;
  top:0;
  width:100%;
  border-radius:0;
  @include restoreFix();
  @include NavShd()
}
.sticky-brand{
  position:sticky !important;
  top:$titleNav-height+$titleNav-space;
}
