<nav-page ></nav-page>

<article-load-btn [state]="_as.state.pageLoad"></article-load-btn>

<ztwScroll (ngModelChange)="getScrollValue($event)" [(ngModel)]="scrollValue" [baseLine]="_rs.nav.height" (event)="scrollEvent($event)" #ztwScroll>
    <p>
      <button (click)="back()" class="fa fa-chevron-circle-left btn btn-outline-primary"> {{rgMsn?.rgName}}</button>
    </p>
<div *ngIf="_as.replys.length">
  <fix-container [height]="_rs.nav.height" [overFix]="titleVal" (entry)="titleVal=$event" useEntry="true" ztwScrollControl="head">
    <title-nav [showIcon]="showNavIcon" class="titleNav" #titleNav fix-item></title-nav>
  </fix-container>


  <div class="mt-2" over="bottom" *ngFor="let list of _as.replys" [ztwScrollControl]="list.index">
    <ng-template ngFor [ngForOf]="list.value" let-i let-o="index">
      <plate-user-card [msn]="i"> </plate-user-card>
    </ng-template>
  </div>
</div>

<article-rely></article-rely>
<tool-box class="boxBar"></tool-box>
</ztwScroll>

