.draft{
  position:absolute;
  right:0;
  top:0;
  height:100%;
}
.edit1{
  overflow: hidden;
}
.btn1{
  position:absolute;
  left:0;
  top:30%;
  transform:translateX(-100%);
}
.sideCard{
  width:200px;

}

.editBtn{
  width:100%;
  height:30px;
  overflow:hidden;
}
.editBtn .btn{
  height:30px;
}
