<form class="card" [formGroup]="formGroup">
  <div class="card-header">formGroup</div>
  <div class="card-block">
    <div class="form-group" [ngClass]="{'has-danger':!i.control.valid&&i.control.dirty,'has-success':i.control.valid}" *ngFor="let i of formDatas">
      <label [innerHTML]="i.label"></label>
      <input  preventSpace [type]="i.type" [placeholder]="i.placeholder||''" class="form-control form-control-danger form-control-success" [formControlName]="i.name">
    </div>
    <p *ngIf="equal!==undefined&&!equal&&pswd1?.valid&&pswd2?.valid" class="text-danger">
      <i class="fa fa-warning"> </i>两次输入的密码不相等!
    </p>
    <ztw-side-vf-package #vf height="240px" width="360px" (pass)="passVf=$event"  [bindValid]="formGroup.valid"></ztw-side-vf-package>
    <p>
      <button (click)="register.emit(formGroup.value);vf.reset()" [disabled]="!formGroup.valid||!equal||equal==undefined ||!passVf" class="btn btn-outline-primary">submit </button>
      <button (click)="formGroup.reset();vf.reset()" class="btn btn-outline-primary">Reset</button>
    </p>
  </div>
</form>

