:host{
  display:inline-block;
  width:100%;
  height:100%;
}
.abs{
  position:absolute;
  top:0;
  left:0;
}
.barBtn{
  outline:none;
  border-radius:10%;
  border:1px solid gainsboro;
  background:white;
  color:gray;
}
.parent{
  position:relative;
}
