<!--The whole content below can be removed with the new code.-->
<ztw-min-modal [(ngModel)]="_ts.minModal"></ztw-min-modal>
<ztw-modal (confirm)="modalResult($event)" [lg]="isLg" [content]="modalContent" #myModal></ztw-modal>
<footer-alert [content]="footerContent" #footer></footer-alert>
<nav-root #nav></nav-root>
<app-top></app-top>
<div>
<div class="container">
    <router-outlet (activate)="entry($event)"></router-outlet>
</div>
</div>
<router-outlet (activate)="popup($event)" name="popup"></router-outlet>

