<button class="btn0 btn-icon">
<i class="color-dark fa fa-link"></i>
</button>
<ng-template #tp>
  <div class="input-group">
    <label class="input-group-addon"><i class="fa fa-link"></i></label>
    <input [disabled]="inputDisabled" id="ztw-text-editor-href-input" class="form-control" [(ngModel)]="hrefText" name="input"/>
  </div>
  <p class="between mt-2">
    <button [disabled]="inputDisabled" class="btn btn-primary" (click)="confirm()">Confirm</button>
    <button class="btn btn-primary" (click)="cancel()">Cancel</button>
  </p>
</ng-template>
