.dateCard{
  margin:5px;
}
.btnD{
  transition:all 0.3s ease;
  padding:3px;
  cursor:pointer;
}
.btnD:hover{
  box-shadow:1px 1px 3px gray;
  transform:translateY(-2px)
}
.btnD:active{
  background:#ddd;
}
.timeCard{
  background:rgba(0,0,0,0.2);
  font-weight: bold;
}
.absRight{
  position:absolute;
  right:0;bottom:0;
}
i{color:white;text-shadow:2px 2px 4px black}
