<div *ngIf="bgShow" class="bg row justify-content-center" (click)="close();confirm.next(false)">

  <div class="col-11" [ngClass]="{'col-lg-6':_lg,'col-lg-3':!_lg}" style="min-width:400px">
    <div  [@SlideRightToggle]="state||'hidden'" (@SlideRightToggle.done)="anEnd()" (click)="$event.stopPropagation()" class="modal-content myContainer">
      <div class="h4 modal-header justify-content-between">
        <a>
          <span class="mx-2  badge badge-{{type}}"><i [class]="typeIcon"></i></span>
          <span class="h6">{{title}}</span>
        </a>
        <span (click)="close()" class="close">&times;</span>
      </div>
      <div>
        <div #container></div>
        <ng-content></ng-content>
        <ng-container *ngIf="content" class="center">
          <div class="modal-body" [innerHTML]="content"></div>
          <div [innerTemplate]="footer"></div>
        </ng-container>
      </div>
      <div *ngIf="useFooter" [innerTemplate]="footer">

      </div>
    </div>
  </div>
</div>
<ng-template #footer>
  <div class="align-self-end modal-footer">
    <div *ngIf="btnType=='single'">
      <button (click)="close();confirm.next(false)" class="btn btn-outline-{{type}}">close</button>
    </div>
    <div *ngIf="btnType=='double'">
      <button class="btn btn-outline-{{type}} mr-3" (click)="close();confirm.next(true)">确认</button>
      <button class="btn btn-outline-{{type}}" (click)="close();confirm.next(false)">关闭</button>
    </div>
  </div>
</ng-template>
