.card{
  width:200px;
  height:180px;
  box-sizing:border-box;
}
:host /deep/ .adminBtn:hover{
  background:#ddd;
  cursor:pointer;
}
:host /deep/ .close:hover{
  background:red;
}
i{
  margin:0 3px;
}
.sortBlock{
  position:absolute;
  right:5px;
  bottom:5px;
}

