<fix-container >
    <nav #nav *ngIf="!hidNav" [@SlideTopToggle] class="bg-primary between px-2" [class.fixed-top]="true" fix-item>
      <nav class="nav">
        <button (click)="sideNav.toggle()" class="hidden-xl-up btn btn-primary px-3 p-1"><i class="fa fa-navicon"></i></button>
        <li  *ngIf="!_rs.isHome" (click)="_rs.goPreLevel()" class="hover nav-item nav-link"><i class="fa fa-arrow-left"></i></li>
        <li [routerLink]="['/']" class="nav-item nav-link">Boot</li>
      </nav>
      <div class="row">
        <button [hidden]="!_ts.userMsn.name" (outClick)="_remind.closeNtf()" outclick (click)="_remind.toggleNtf()" [class.remind1]="user.ntfSelf>0" class="remind1 parent btn-primary mr-3 btn rounded-circle" [routerLink]="[{outlets:{popup:['ntf']}}]">
          <i class="fa fa-bell-o"> </i>
          <small [hidden]="user.ntfSelf==0" class="abs">{{_ts.userMsn.ntfSelf}}</small>
        </button>
        <div class="mr-4" *ngIf="_res.value=='lg'">
            <span ztw-dropdown>
            <button class="btn btn-primary">
              <a *ngIf="(user&&user.name);else login">{{user.name|limitStr}}</a>
              <ng-template #login>LOGIN</ng-template>
            </button>
              <div style="width:250px;color:black;" *ztw-dropdown-menu>
                <user-msn-min></user-msn-min>
              </div>
            </span>
        </div>
      </div>
    </nav>
</fix-container>

<app-side-nav #sideNav width="350" [tp]="sideRight">

</app-side-nav>
<ng-template #sideRight>
  <div style="height:3rem;"></div>
  <user-msn-min></user-msn-min>
</ng-template>

