:host{
  display:block;
  transition: all 1s;
}

.titleBtn{
  display:inline-block;
  height:100%;
  text-align:center;
  width:25px;

  transition:color 0.3s;
}
.titleBtn:hover{
  color:black;
}
.nav{
  transition:opacity 0.5s,box-shadow 0.5s,width 0.5s;
}
.titleNav{
  left:0;
  width:100%;
  border-radius:0 0 6px 6px;
  box-shadow: 0 2px 12px gray;
  opacity:0.8;
}

