<div class="mb-2">
  <span class="btn btn-outline-primary dropdown-toggle" placement="tpBottom2" ztw-dropdown>
    {{base?.cgName||'按板块查询'}}
    <div class="p-3" *ztw-dropdown-menu>
      <dl *ztwFor="let cg in _ts.cgs">
        <dt class="dropdown-header">{{cg.name}}</dt>
        <dd [class.active]="base.cgName==cg.name&&base.rgName==rg.name" (click)="selectRg(cg,rg)" class="dropdown-item" *ztwFor="let rg in cg.rgs">
          {{rg.name}}
        </dd>
      </dl>
    </div>
  </span>

 <nav class="ml-1 navbar-brand" [@Fade] *ngIf="base.cgName">
   <i class="fa fa-folder-open-o"></i>
   <span class="badge badge-primary">{{base.rgName}}</span>
 </nav>
</div>
<ul class="list-group">
  <article-card [msn]="i" [cgId]="base.cgId" [rgId]="base.rgId" class="list-group-item" *ngFor="let i of findUA.articles"> </article-card>
</ul>
<min-pagination (result)="getArticles($event.page,$event.dr)" *ngIf="findUA.pgTool" [nowPage]="findUA.pgTool.nowPage" [pages]="findUA.pgTool.pages" navSize="5"></min-pagination>
<div class="center" style="height:120px" *ngIf="findUA.articles===null">
  没有找到结果
</div>
