<div *ngIf="_reS.value=='lg'" class="d-flex lg-article">
  <div class="parent user-msn">
    <div class="sticky-brand" >
      <div class="tpParent">
        <img class="box-1" [src]="insert?user.head:putImg(user.head)">
        <span (click)="_rs.navToUser(user.name)" style="right:0;bottom:0" class="ir tpShow leftFade  btn btn-default2 btn-sm">
          <i class="fa fa-eye"></i>
        </span>
      </div>
      <a [innerTemplate]="Msn" [deps]="{lg:true}"></a>
    </div>
  </div>
  <div style="flex:1" class="parent user-content d-flex flex-column">
      <div class="card-block article" [innerHTML]="i.c|trustHtml">
      </div>
      <i class="tr text-sm text-muted sign" [hidden]="!i.rId">{{i.rId}}</i>
      <ng-container *ngIf="isHost">
        <ng-template [innerTemplate]="host"></ng-template>
      </ng-container>
      <div class="between text-sm pl-3">
        <ztw-vote  [msn]="i"></ztw-vote>
        <nav>
          <samp >{{i.cd | date:'short'}}</samp>
          <span *ngIf="!isHost" (click)="innerReply(inner)" class="btn0 btn1 ml-2  fa fa-commenting-o"></span>
        </nav>
      </div>
  </div>
</div>
<ng-template #test>
  aasasa
</ng-template>
<div *ngIf="_reS.value!='lg'">
  <div class="d-flex p-2">
    <img type="oc" class="img-min" [ztwTooltip]="Msn" [src]="insert?user.head:putImg(user.head)">
    <div class="p-2 pl-4" style="flex-grow:1;">
      <b class="text-sm text-center">{{user.nickN}}</b>
      <div class="text-sm between">
        <span style="color:darkgray">
          <span [hidden]="!i.rId" class='mr-1'>{{i.rId}}楼</span>
          <a >{{i.cd |time}}</a>
        </span>
        <ztw-vote [msn]="i"></ztw-vote>
      </div>
    </div>
  </div>
  <div class="parent p-2 pl-3">
    <div class="md-body article" [innerHTML]="i.c|trustHtml"></div>
    <ng-container *ngIf="isHost">

      <ng-template [innerTemplate]="host"></ng-template>
    </ng-container>
    <div *ngIf="!isHost" (click)="innerReply(inner)" class="text-sm index closeBtn"><i class="fa fa-commenting-o"></i></div>
  </div>
  <div class="dropdown-divider"></div>
</div>
<ng-template #inner="vcr" viewContainer></ng-template>
<view-reply2 [_parent]="this" [newReply]="newReply" *ngIf="i.rCache?.cs||newReply"></view-reply2>


<ng-template #Msn let-lg="lg">
  <div style="padding:5px">
    <small>{{isMain?'楼主':'层主'}}<span (click)="_rs.navToUser(user.name)" *ngIf="_reS.value!='lg'" class="ml-1 btn btn-sm btn-outline-info"><i class="fa fa-eye"></i></span></small>
    <div>
      <samp>{{user.nickN}}</samp>
    </div>
    <star-level [disBar]="!lg" [user]="user"></star-level>
  </div>
</ng-template>

<ng-template #vote>
    <span style="border-bottom: 1px solid gainsboro">
      <i class="mx-1">{{i.sup}}</i>
      <i class="fa fa-thumbs-up"></i>
      <i class="mx-1">{{i.op}} </i>
      <i class="fa fa-thumbs-o-down"></i>
    </span>
</ng-template>

<ng-template #host>
  <article-strategy *ngIf="i.nStg||i.c2||i.stg" [i]="i"></article-strategy>
<samp *ngIf="isHost" class="text-muted ml-3 text-right">
  <a (click)="_as.modifyHost(i)" *ngIf="isMaster" class="text-sm hover">修改</a>
  <small [hidden]="!i.md">最后修改在:{{i.md |time}}</small>
  <i class="mr-1 fa fa-eye"></i>{{i.rds}}
  <i class="mr-1 fa fa-comments"></i>{{i.rps}}
</samp>
</ng-template>

